.zipcode-box {border: 1px solid #c4c1bc; margin: 10px 0; padding: 8px 9px; width: 200px;}
.zipcode_cont2 {margin:5px 0 0 0;}
.zipcode_cont2 input {padding:3px 4px; border: 1px solid #bebebe;}
.zipcode_cont1 span { color: #666; font-weight: bold; }
.zipcode_cont1 #zipcode-loader { padding:6px 0 1px 0; }
.col-left .zipcode-box { width:auto; }
.col-left .zipcode_cont2 input {width: 105px;}